[project]
	description = Ruby Client libraries for communicating with Jenkins Remote Access API
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dragan Glumac (draganglumac)
[access "refs/for/refs/*"]
	read = group user/Dragan Glumac (draganglumac)
	push = group user/Dragan Glumac (draganglumac)
	label-Code-Review = -2..+2 group user/Dragan Glumac (draganglumac)
	label-Verified = -1..+1 group user/Dragan Glumac (draganglumac)
	rebase = group user/Dragan Glumac (draganglumac)
	removeReviewer = group user/Dragan Glumac (draganglumac)
	submit = group user/Dragan Glumac (draganglumac)
[access "refs/heads/*"]
	read = group user/Dragan Glumac (draganglumac)
	create = group user/Dragan Glumac (draganglumac)
	push = +force group user/Dragan Glumac (draganglumac)
	pushMerge = group user/Dragan Glumac (draganglumac)
[access "refs/tags/*"]
	push = +force group user/Dragan Glumac (draganglumac)
	pushTag = group user/Dragan Glumac (draganglumac)
	pushSignedTag = group user/Dragan Glumac (draganglumac)
